@import url('__field/popup__field.css');
@import url('./__title/popup__title.css');
@import url('./__container/popup__container.css');
@import url('./__cancel/popup__cancel.css');
@import url('./__submit/popup__submit.css');
@import url('./__input-error/popup__input-error.css');

.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
