@import url("./__main/pic-popup__main.css");
@import url("./__subtitle/pic-popup__subtitle.css");
@import url("./__container/pic-popup__container.css");
@import url("./__cancel/pic-popup__cancel.css");

.pic-popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    justify-content: center;
    align-self: center;
    opacity: 0;
}
